/* App.css or a separate CSS file */
/* .review-container{
  border: 1px solid red;
} */
.review-hidden {
    opacity: 0;
    transition: opacity 0.5s;
  }
  .review-visible {
    opacity: 1;
  }
  
.review img{
    height: 200px;
    width: 200px;
}

.review-title {
  opacity: 0;
  transform: translateX(-100%); /* Start off-screen to the left */
  transition: opacity 0s, transform 6s;
}

.review-title.review {
  opacity: 1;
  transform: translateX(0); /* Slide in from the left to the right */
}

  