/* Service.css */

/* .fade-in {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 2s;
  }
  
  .fade-in.fadeIn {
    opacity: 1;
    transform: translateY(0);
  } */
  