.carousel-section{
    border-radius: 30px;
    /* background-color: red; */
}

.carousel-section img{
    height: 400px;
    border-radius: 20px;
    margin-left: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  