.header{
  margin-bottom: 100px;
}
.navbar-heading {
  margin-top: 5px;
}

/* In your CSS file */
.custom-dropdown-title .nav-link {
  color: #8bb9fe; /* Change the color to the desired color */
  font-weight: bolder;
}


img {
  height: 50px;
  border-radius: 20px;
  margin-left: 75px;
}

.search-box {
  margin-right: 75px;
}

Nav.Link {
  margin-left: 1000px;
}

@media (max-width: 768px) {
  .custom-navbar .mobile-link {
    color: red; /* Set your desired font color for mobile devices */
  }
}


